 *{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #EFEFF2;
    font-family: Arial, sans-serif;
}
.conteudo header h1{
    color: #73c5e6;
    font-size: 96px;
    text-align: center;
}
.poppins-bold {
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.card{
    width: 320px;
    height: 180px;
    border-radius: 30px;
    background-color: brown;
    box-shadow: 12px 12px 24px 0px #123456,-12px -12px 15px -0px #123456;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

